@{
    ViewData["Title"] = "Index Home";
}


@section SideBar{
        <img src="./css/img/Saludo.jpg" alt= "imagen saludo" />

        <h2>¡Bienvenido!</h2> 
}
    

     <h2>@ViewBag.Nombre</h2>
     <h3>@ViewBag.Fecha</h3>

    @Html.ActionLink("Ir a Empleados","Index","Empleado")
